.moreView {
    background: var(--blue-gradient);
    text-align: center;
}

.moreViewTitle {
    color: var(--white);
    padding: 2em 0 2em 0;
}

.moreViewList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2em;
}

.moreViewLink {
    background-color: var(--word-detail-color);
    padding: 1em;
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    margin: 0.5em;

}

@media screen and (min-width:1024px){
    .moreViewTitle {
        font-size: 24px;
    }
    
    .moreViewList {
        margin: 0 3em;
    }

    .moreViewLink {
        font-size: 24px;
    }
}   

@media screen and (min-width:1728px) {
    .moreViewList {
        margin: 3em 25vw;
    }
}